<style>
    #admin_menu
    {
    }

    #admin_menu li
    {
        background-color: #eee;
        border:1px solid gray;
        font-size:1.1em;
        float:left;
        padding:5px 5px;
        margin:3px;
        border-radius: 3px;
        list-style-type: none;
    }
</style>


<div id="admin_menu">
    <ul>
        <li><a href="/admin/goods"> 保险产品</a></li>
        <li><a href="/admin/goods/add"> 添加保险产品</a></li>
        <li>代理人</li>
        <li><a target="_blank" href="/">前台首页</a></li>
    </ul>
    <ul>
        <li><a href="/admin/activity">优惠活动</a></li>
        <li><a href="/admin/activity/add">添加优惠活动</a></li>
    </ul>
    <ul>
        <li><a href="/admin/coupon">优惠劵列表</a></li>
        <li><a href="/admin/coupon/add">添加优惠活动</a></li>
    </ul>
</div>

<div style="clear:both"></div>
