<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/stylesheets/dashboard.css" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="/javascripts/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <% include admin_header.html%>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <% include admin_menu.html%> 
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h2 class="sub-header"><%= title %></h2>
                    <div class="table-responsive">
                        <form method="post" enctype='multipart/form-data' >
                            <div class="form-group">
                                <label >
                                    优惠劵:
                                </label>
                                <input type="text" class="form-control"  name="title" />
                            </div>

                            <div class="form-group">
                                <label >
                                    购买价格:
                                </label>
                                <input type="text" class="form-control"  name="price" />
                            </div>

                            <div class="form-group">
                                <label >
                                    简述:
                                </label>
                                <textarea type="text" class="form-control" cols="100" rows="3" name="desc"> </textarea>
                            </div>

                            <div class="form-group">
                                <label >
                                    使用规则:
                                </label>
                                <textarea type="text" class="form-control" cols="100" rows="3" name="content"> </textarea>
                            </div>

                            <div class="form-group">
                                <label >
                                    图片:
                                </label>
                                <input type="file"  name="pic" />
                                <p class="help-block">
                                请选择优惠卷的展示图片。
                                </p>
                            </div>
                            <div class="checkbox">
                                <label> <input type="checkbox" value="1" name="flag" />优惠劵</label>
                                <label> <input type="checkbox" value="2" name="flag" />代金劵</label>
                            </div> 
                            <div class="form-group">
                                <p class="help-block">
                                <%=err%>
                                </p>
                            </div> 
                            <button type="submit" class="btn btn-default">
                                提交
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="/javascripts/holder.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/javascripts/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
